{% extends "Base.html" %}
{% block title %}OPT Verification{% endblock %}

{% block content %} 
<section class="OTP Verification">
    <div class="container py-5 mt-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="{{ url_for('static', filename='images/Loginpic1.svg') }}" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h1 class="titlelogin">Enter the OTP</h1>
            <br>
          <form action="/verify/email/otp" method="post">
            <!-- Mobile Number input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">OTP Number</label>
              <input type="text" id="form1Example13" name="otp" class="form-control form-control-lg" />
            </div>

            <!-- Submit button -->
            <div class="divider d-flex align-items-center my-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


{% endblock %}