{% extends "Base.html" %}
{% block title %}Home{% endblock %}
{% block navi %}
<li class="nav-item">
  <a href="/home" class="nav-link"><span data-hover="Home">Home</span></a>
</li>
<li class="nav-item">
  <a href="/uploadurl" class="nav-link"><span data-hover="uploadurl">Detect By Url</span></a>
</li>
<li class="nav-item">
  <a href="/uploadimage" class="nav-link"><span data-hover="uploadimage">Detect By Image</span></a>
</li>
<li class="nav-item">
  <a href="/about" class="nav-link"><span data-hover="About">About</span></a>
</li>
<li class="nav-item ms-auto">
  <a href="/login" class="nav-link"><span data-hover="About">Logout</span></a>
</li>
{% endblock %}
{% block content %} 
<div class="jumbotron">
    <h1 class="display-4">BeReal</h1>
    <p class="lead">The Application is used to detect fake faces</p>
  </div>

{% endblock %}