{% extends "Base.html" %}
{% block title %}Login{% endblock %}

{% block content %} 
<section class="login">
    <div class="container py-5 mt-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="{{ url_for('static', filename='images/Loginpic1.svg') }}" class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h1 class="titlelogin">Login Page</h1>
            <br>
          <form action="/verifylogin" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example13">Email address</label>
              <input type="email" id="form1Example13" name="email_address" class="form-control form-control-lg" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form1Example23">Password</label>
              <input type="password" id="form1Example23" name="password" class="form-control form-control-lg" />
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                  checked
                />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
              <a href="#!">Forgot password?</a>
            </div>
  
            <!-- Submit button -->
            <div class="divider d-flex align-items-center my-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>

            <div class="divider d-flex align-items-center my-4">  
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/register" role="button">
            </i>Continue with Register
            </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


{% endblock %}